<div id="<%= dom_id entity %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= entity.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= entity.amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= entity.user.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Group:</strong>
    <%= entity.group.name %>
  </p>
</div>
