<div class="w-full p-4">
  <h1 class="font-bold text-2xl text-center">Add New Entity for <span class="text-blue-500"><%=@group.name %> </span> Group</h1>

  <%= form_with model: @entity, url: group_entities_path, method: :post, local: true do |form| %>
  <% if @entity.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
        <% @entity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
  </div>

  <div class="my-5">
    <%= form.label :amount %>
    <%= form.text_field :amount, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
  </div>


  <div class="inline">
    <%= form.submit "Add Transaction", class: "rounded-lg py-3 bg-secondaryColor text-white block font-medium text-center mt-8 w-full hover:bg-gray-100 hover:text-secondaryColor cursor-pointer" %>
  </div>
<% end %>

</div>
